h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
p {
  text-align: center;
}
body {
  background-color: #87CEFA;
}
#cSharp {
  display: none;
}
#javaScript {
  display: none;
}
#python {
  display: none;
}